body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    color: #61dafb;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader div {
    width: 15px;
    height: 15px;
    margin: 5px;
    border-radius: 50%;
    background-color: #61dafb;
    animation: bounce 0.6s infinite alternate;
}

.loader div:nth-child(2) {
    animation-delay: 0.2s;
}

.loader div:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-30px);
    }
}

h2 {
    margin-top: 20px;
    font-size: 24px;
    text-align: center;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    h2 {
        font-size: 20px;
    }
}